 :root {
    --color-text-h2: #4F4F4F;
    --main-color-text-h1: #174180;
    --text-color-h3:#828282;
    --text-color-right-h1:#56CCF2;
    --bacgroung-color-right:#174180;
   }


.link {
    text-decoration: none;
}
 .list {
    list-style: none;
    padding: 0;
    margin: 0;
}
 h1, h2, h3, p {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

 body {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 8px;
line-height: calc(11/8);
    letter-spacing: 0.03em;
    margin: 0;
          
}
.main {
   
    display: flex;
  justify-content: space-around;
}

.section {
    padding-left: 15px;
    padding-right: 15px;
    /* width: 365px; */
}

/* .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
} */
.section.left {
    
        

    background-color: var(--bacgroung-color-right);
  
}

img {
    display: block;
    max-width: 100%;
}
 
/* __________Header___________________________ */

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid var(--header-border-color);
    
    /* width: 100%; */
    min-height: 80px;

    display: flex;
    align-items:center;
    justify-content: space-evenly;
}

.header__name {
    color:  #333333;
    font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 900;
font-size: 38px;
line-height: calc(48/38);
display: block;

margin-top: 30px;
}
.header__proffe {
font-size: 14px;
line-height: calc(19/14);
text-align: center;
}


/* -----------------------left */
.section.left {
    width: calc(100% - 250px);
}
.left__adressa {
       font-weight: 400;
    font-size: 10px;
    line-height: calc(14/10);
      
    color: #56CCF2; 
}
.left__adressa:not(:last-child) {
    padding-bottom: 5px;
}


.left__img {
    border-radius: 50%;
}
.contaner {
    width: 600px;
    display: flex;
}

/* -----------------------right */
.section.right {
    width: calc(100% - 250px);
}
